body{
    margin: 0 auto;
    height: 100vh;
    max-width: 1280px;
    box-sizing: border-box;
    font-family:'Open Sans',  sans-serif;
    display: grid;
    grid-gap: 5px;
    grid: "header" 459px 
          "main" 2170px 
          "footer" 140px
}   

header{
    grid-area: header;
    background-image: url("../img/imagemGrande.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 459px; ;

}

.header{
    width: 757px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}



.especial{
    font-family:"Luckiest Guy", cursive;
    font-weight: 400;
    text-align: center;

}
.topo{
    font-size: 58px;
    width: 313px;
    height: 112px;
    color: #FFFFFF;
}
.p-header{
    color: #FFFFFF;
    text-align: center;
    font: 16px 400;
    width: 757px;
}

.botoes{
    height: 44px;
    width: 502px;
    display: flex;
    justify-content: end;
    align-items: center;
    gap:2rem;
    
}

#btn-baixar, #btn-abrir{
    border: none;
    border-radius: 28px;
    font:16px 400;
    padding: 0.4rem 1.5rem;
}

#btn-baixar{
    background-color: #FFFFFF;
    
}


#btn-abrir{
    background-color: black;
    color: #FFFFFF;
}

main {
    grid-area: main;
}


.conjunto{
    height: 488px;
    width: 971px;
    margin: auto;
    display: flex;
    color: #23272A;
}


.conjunto img{
    width: 60%;
}

.item-2, .item-4{
    background-color: #F6F6F6;
}

.interna{
    width: 394px;
    flex-flow: wrap;
    align-content: center;
    justify-items: center;
}

.text-grande{
    font-size: 38px;
    font-weight: 800;
    max-width: 329px;
    
}

p{
    font-size: 16px;
    font-weight: 400;
    text-align: justify;
    width: 348px;

}


.item-final{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.base{
    font-size: 40px;
    height: 80px;
    width: 608px;
}


.p-base{
    width: 784px;
}



footer{
    grid-area: footer;
    height: 134px;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}


@media screen and (max-width: 1050px){
    body{
        max-width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: auto
    }



    .header{
        
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 459px;
    }   

    .topo{
        font-size: 40px;
        width: 250px;
        margin: 0;
    }

    .p-header{
        width: 70%;
        font-size: 14px;
        height: 110px;

    }

    .botoes{
        flex-direction: row;
        width: 70%;
        gap: 1rem;
    }

    #btn-baixar, #btn-abrir{
        width: 50%;
        padding: 0.8rem 1.5rem;
        font-size: .8rem;
    }

    main{
        grid-area: main;
        width: 100%;
    }

    .item{
        margin: 0 auto;
        max-width: 100%;
        padding: 0 24px;
    }

    .conjunto img{
        width: 50%;
    }
    .conjunto{
        display: flex;
        max-width: 100%;
        justify-content: center;
    }
 
    .item-4{
    padding-top: 4rem;
    }

    .item-2 .interna {
            padding-left: 1rem;

    }
    .interna{
        width: 40%;
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: flex-start;
        margin: 0 2px;
        gap : 1rem;
    }

    .text-grande{
        font-size: 28px;
        max-width: 100%;
        margin: 0;
        text-align: start;
    }

    p{
        max-width: 100%;
        text-align:start;
        margin: 0;
    }

    .base{
        font-size: 28px;
        width: 90%;
        margin-top: 2rem;
    }

    .p-base{
        width: 80%;
        margin-top: 2rem;
    }

    .item-final{
        height: 560px;
    }
    
    
    .item-final img{
        width: 75%;
        margin: 0;;
    }

}

@media screen and (max-width: 600px){
  
    header{
        width: 100%
    }

    .header{
        max-width: 381px;
        margin: auto;
        align-items: baseline;
        gap: 1rem;
    }   

    .topo{
        font-size: 32px;
        max-width: 278px;
        height: 64px;
        text-align: start;
        margin-bottom: 1rem;
    }
  

    .p-header{
        margin: 0;
        width: 370px;
        height: 100px;
        text-align: start;
        
    }

    #item-2{
        flex-wrap: wrap-reverse;
        
    }



     .item-2 .interna{
        padding-left: 0;

     }
  
    
    .botoes{
        flex-direction: column;
        max-width: 381px;
        height: 122px;
        gap: 1rem;
        width: 100%;
    }

    #btn-baixar, #btn-abrir{
        padding: 0.8rem 1.5rem;
        font-size: .9rem;
        width: 100%;
    }

    main{
        display: flex;
        flex-direction: column;
       
    }

    .conjunto{
        height: 505px;
        padding: 40px 24px;
        flex-wrap: wrap;
    }

    .conjunto img, .item-final img{
        width: 80%;
    }

    .interna{
        width: 100%;
    }
    p{
        width: 90%;
    }
    
    .text-grande{
        max-width: 90%;
    }

    .item-4{
        padding-top: 0;

    }
}

